@model IEnumerable<Ogrenci>

    <h2>Ogrenci Listesi</h2>
    <a class="btn btn-primary" href="/Ogrenci/Create">Ogrenci ekle</a>
    <hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m=>m.OfrenciId)</th>
            <th>@Html.DisplayNameFor(m=>m.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m=>m.OgrenciSoyad)</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model)
        {
        <tr>
                <td>@Html.DisplayFor(modelItem=>item.OfrenciId)</td>
                <td>@Html.DisplayFor(modelItem=>item.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem=>item.OgrenciSoyad)</td>
            <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.OfrenciId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@item.OfrenciId" class="btn btn-sm btn-danger">Delete</a>
            </td>
            


        </tr>

        }
    </tbody>
</table>